<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="64959HenningKnutSkoglund.TemperatureMonitor" Version="1.1.0.26" Publisher="CN=533062DE-851A-4243-ABB9-6A5107CFD238" />
  <Properties>
    <DisplayName>Sensor Monitor</DisplayName>
    <PublisherDisplayName>Henning Knut Skoglund</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <m2:VisualElements DisplayName="Sensor Monitor" Description="Sensor Monitor sets the ANT USB stick in scanning mode on 2457 MHz searching for available sensors. Data are visualized in a chart." ForegroundText="light" BackgroundColor="#464646" Square150x150Logo="images\Logo-2.png" Square30x30Logo="images\SmallLogo-2.png">
        <m2:SplashScreen Image="images\SplashScreen.png" BackgroundColor="white" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <m2:DeviceCapability Name="usb">
      <!--ANT USB2 Dynastream-->
      <m2:Device Id="vidpid:0FCF 1008">
        <!--<m2:Function Type="classId:ff * *"/>-->
        <m2:Function Type="name:vendorSpecific" />
      </m2:Device>
      <!--ANT USB-m Dynastream-->
      <m2:Device Id="vidpid:0FCF 1009">
        <!--<m2:Function Type="classId:ff * *"/>-->
        <m2:Function Type="name:vendorSpecific" />
      </m2:Device>
    </m2:DeviceCapability>
  </Capabilities>
</Package>